---
http_interactions:
- request:
    method: get
    uri: https://cals-api.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 500
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 500 Server Error</title>
        </head>
        <body><h2>HTTP ERROR 500</h2>
        <p>Problem accessing /dictionaries/counties. Reason:
        <pre>    Server Error</pre></p>
        </body>
        </html>
  recorded_at: Tue, 24 Oct 2017 23:09:06 GMT
recorded_with: VCR 3.0.3
