---
http_interactions:
- request:
    method: post
    uri: https://calsapi.preint02.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 57,
          "minor_children" : [ ],
          "is_initial_application" : false
        }
  recorded_at: Fri, 12 Jan 2018 23:41:53 GMT
- request:
    method: post
    uri: https://calsapi.preint02.cwds.io/rfa-1a-forms/57/rfa-1c-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 2,
          "child_identified" : false,
          "identified_children" : [ ]
        }
  recorded_at: Fri, 12 Jan 2018 23:41:53 GMT
- request:
    method: get
    uri: https://calsapi.preint02.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Esq",
            "id" : 1
          }, {
            "value" : "II",
            "id" : 2
          }, {
            "value" : "III",
            "id" : 3
          }, {
            "value" : "IV",
            "id" : 4
          }, {
            "value" : "JD",
            "id" : 9
          }, {
            "value" : "Jr",
            "id" : 5
          }, {
            "value" : "MD",
            "id" : 7
          }, {
            "value" : "PhD",
            "id" : 8
          }, {
            "value" : "Sr",
            "id" : 6
          } ]
        }
  recorded_at: Fri, 12 Jan 2018 23:41:53 GMT
- request:
    method: get
    uri: https://calsapi.preint02.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alaska",
 [...]
- request:
    method: get
    uri: https://calsapi.preint02.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda"[...]
- request:
    method: get
    uri: https://calsapi.preint02.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Male",
            "id" : 1
          }, {
            "value" : "Female",
            "id" : 2
          } ]
        }
  recorded_at: Fri, 12 Jan 2018 23:41:55 GMT
- request:
    method: get
    uri: https://calsapi.preint02.cwds.io/dictionaries/school-grades
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "TK",
            "id" : 1
          }, {
            "value" : "K",
            "id" : 2
          }, {
            "value" : "1",
            "id" : 3
          }, {
            "value" : "2",
            "id" : 4
          }, {
            "value" : "3",
            "id" : 5
          }, {
            "value" : "4",
            "id" : 6
          }, {
            "value" : "5",
            "id" : 7
          }, {
            "value" : "6",
            "id" : 8
          }, {
            "value" : "7",
            "id" : 9
          }, {
            "value" : "8",
            "id" : 10
          }, {
            "value" : "9",
            "id" : 11
          }, {
            "value" : "10",
            "id" : 12
          }, {
            "value" : "11",
            "id" : 13
          }, {
            "value" : "12",
            "id" : 14
          }, {
            "value" : "College +",
            "id" : 15
          } ]
        }
  recorded_at: Fri, 12 Jan 2018 23:41:56 GMT
- request:
    method: get
    uri: https://calsapi.preint02.cwds.io/rfa-1a-forms/57/rfa-1c-forms/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 2,
          "child_identified" : false,
          "identified_children" : [ ]
        }
  recorded_at: Fri, 12 Jan 2018 23:41:56 GMT
- request:
    method: get
    uri: https://calsapi.preint02.cwds.io/rfa-1a-forms/57
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 57,
          "minor_children" : [ ],
          "is_initial_application" : false
        }
  recorded_at: Fri, 12 Jan 2018 23:41:56 GMT
- request:
    method: get
    uri: https://calsapi.preint02.cwds.io/rfa-1a-forms/57/applicants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/57/applicants. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Fri, 12 Jan 2018 23:41:56 GMT
recorded_with: VCR 3.0.3
