---
http_interactions:
- request:
    method: post
    uri: https://calsapi.preint02.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 56,
          "minor_children" : [ ],
          "is_initial_application" : false
        }
  recorded_at: Fri, 12 Jan 2018 23:41:51 GMT
- request:
    method: post
    uri: https://calsapi.preint02.cwds.io/rfa-1a-forms/56/rfa-1c-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 1,
          "child_identified" : false,
          "identified_children" : [ ]
        }
  recorded_at: Fri, 12 Jan 2018 23:41:52 GMT
recorded_with: VCR 3.0.3
