---
http_interactions:
- request:
    method: post
    uri: https://doraapi.preint02.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"match_phrase":{"name":"home"}}]}}]}}}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":5,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":55,"max_score":1.5619546,"hits":[{"_index":"facilities","_type":"facility","_id":"OkhVyUy0Rt","_score":1.5619546,"_source":{"href":null,"id":"OkhVyUy0Rt","type":{"id":"793","value":"Relative/NREFM
        Home"},"name":"Test Home","licensee_name":"","license_type":null,"assigned_worker":null,"district_office":null,"license_number":null,"status":null,"capacity":6,"license_effective_date":null,"original_application_recieved_date":null,"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"last_visit_reason":null,"last_deferred_visit_reason":null,"county":{"id":"34","value":"Sacramento","lis_code":null},"phones":[],"addresses":[],"visits":null,"annual_visit_year":null,"prelicensing_visit_date":null,"children":[{"id":"BgiqiGu0Rt","facilityId":null,"person":{"id":null,"gender":"M","age":13,"ssn":null,"ethnicityId":null,"first_name":"Today","last_name":"Test","date_of_birth":{"year":2003,"month":"DECEMBER","era":"CE","dayOfMonth":8,"dayOfWeek":"MONDAY","dayOfYear":342,"leapYear":false,"monthValue":12,"chronology":{"calendarType":"iso8601","id":"ISO"}}},"date_of_placement":{"year":2004,"month":"DECEMBER","era":"CE","dayOfMonth":7,"dayOfWeek":"TUESDAY","dayOfYear":342,"leapYear":true,"monthValue":12,"chronology":{"calendarType":"iso8601","id":"ISO"}},"assigned_worker":null,"county_of_origin":null}],"inspections":[],"complaints":[]}},{"_index":"facilities","_type":"facility","_id":"O6DzsMK0Py","_score":1.5619546,"_source":{"href":null,"id":"O6DzsMK0Py","type":{"id":"793","value":"Relative/NREFM
        Home"},"name":"Relate Home","licensee_name":"","license_type":null,"assigned_worker":null,"district_office":null,"license_number":null,"status":null,"capacity":0,"license_effective_date":null,"original_application_recieved_date":null,"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"last_visit_r[...]
