---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint02.cwds.io/facilities/300665437
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "facilities/300665437",
          "id" : "300665437",
          "type" : {
            "id" : "726",
            "value" : "TRANSITIONAL HOUSING PLACEMENT PROGRAM"
          },
          "name" : "Lederhouse Transitions",
          "licensee_name" : "Lederhouse Transitions Inc.",
          "license_type" : "A",
          "assigned_worker" : { },
          "district_office" : {
            "number" : "19",
            "name" : "PACIFIC INLAND CR"
          },
          "license_number" : "300665437",
          "status" : {
            "id" : "5",
            "value" : "PROBATIONARY LICENSE"
          },
          "capacity" : 10,
          "license_effective_date" : "2012-10-01",
          "original_application_recieved_date" : "2012-07-18",
          "last_visit_date" : "2017-04-14 00:00:00",
          "last_visit_reason" : {
            "id" : "10",
            "value" : "CASELOAD MANAGEMENT"
          },
          "county" : {
            "id" : "30",
            "value" : "ORANGE"
          },
          "phones" : [ {
            "relation" : "primary",
            "type" : "Cell",
            "number" : "9494480118"
          } ],
          "addresses" : [ {
            "type" : "Residential",
            "address" : {
              "street_address" : "36 Sequoia Dr",
              "city" : "Aliso Viejo",
              "state" : "CA",
              "zip_code" : "92656"
            }
          }, {
            "type" : "Mailing",
            "address" : {
              "street_address" : "36 Sequoia Dr",
              "city" : "Aliso Viejo",
              "state" : "CA",
              "zip_code" : "92656"
            }
          } ],
          "visits" : [ {
            "approval" : "",
            "visit_type" : "Annual 10 month",
            "visit_date" : "2011-10-28"
          }, {
            "approval" : "",
            "visit_type" : "Annual 22 month"
          }, {
            "approval" : "",
            "visit_type" : "Post Licensing",
            "visit_deferred_date" : "1991-11-06"
          }, {
            "approval" : "",
            "visit_type" : "Renewal"
          } ],
          "annual_visit_year" : 12
        }
  recorded_at: Fri, 12 Jan 2018 23:45:54 GMT
- request:
    method: get
    uri: https://calsapi.preint02.cwds.io/facilities/300665437/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "children" : [ {
            "id" : "9112      ",
            "person" : {
              "gender" : "M",
              "age" : 13,
              "first_name" : "Jodran",
              "last_name" : "Dubose",
              "date_of_birth" : "2004-07-19"
            },
            "date_of_placement" : "2002-06-19",
            "county_of_origin" : "State of California"
          } ]
        }
  recorded_at: Fri, 12 Jan 2018 23:45:55 GMT
- request:
    method: get
    uri: https://calsapi.preint02.cwds.io/facilities/300665437/complaints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "complaints" : [ {
            "id" : "9112",
            "complaint_date" : "2016-09-27 00:00:00",
            "assigned_worker" : "Mullah Mahaboob",
            "control_number" : "19-CR-20160927081411",
            "priority_level" : "2",
            "status" : "Approved",
            "approval_date" : "2016-12-10 00:00:00",
            "pre_investigation_comments" : "",
            "post_investigation_comments" : "See Attached letter.  Reiser is a supervisor for Fresno County CPS.",
            "contact_summary" : "LIC 9099 dated 11/23/04, 1/3/05&#13;&#10;LIC 812 date of visit 11/23/04, 1/3/05",
            "followup_comments" : "",
            "allegations" : [ {
              "complaint_code" : "3",
              "allegation" : "",
              "resolution_code_sub" : "",
              "resolution_code_insub" : "",
              "resolution_code_unsub" : ""
            }, {
              "complaint_code" : "3",
              "allegation" : "Client Miguel Delatorre (8-28-88)    Miguel was beat up by an older and bigger child at GH. (name unknown) Staff did nothing to stop this.  Staff told Miguel not to say anything. Miguel called his mother and told her this.",
              "resolution_code_sub" : "",
              "resolution_code_insub" : "",
              "resolution_code_unsub" : "U"
            }, {
              "complaint_code" : "3",
              "allegation" : "",
              "resolution_code_sub" : "",
              "resolution_code_insub" : "",
              "resolution_code_unsub" : ""
            } ]
          } ]
        }
  recorded_at: Fri, 12 Jan 2018 23:45:55 GMT
recorded_with: VCR 3.0.3
