---
http_interactions:
- request:
    method: get
    uri: https://cals-api.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..HdD3nHCj9Ng7pmH6.AxjSGOTRPynlMAfU3uiolhsNGMu6i9hnHk_hKeAq4WHKGDDIiwtxb-PFkNz92HX72vCHWMjxhcJ4r1-EU5IfQxjf2OSXtIQwgA_D5fZE-_nV_UUpaosmPTrJQpd-hXVwgjJI0hYddfel02YZLBYVZgGVPr7eFjbFZMDAvElbHutHCBwtu2DX1j31sZBgwCSUnmGVf0Nar6nfpt_HcDSxE9rI5SYmWpO--ru2occPQRxXMbImaDeZiZ31dD55pJAAGDZ1yh2aRyZc5oy3NQ8ZUPxvtWXZWXo641HSl8KtFhznCGFgT52ciXi1bziPe7mlpPqeqJgwmpiA2gjS2uSjAV6C6aj-VPGnZot24MyaOxpTFx_MXZxSwV3XEp6qSwgaOHB0YtvZtvHVAxeq3R12NNXyFtuOMCmUR3Pqzc-m7vh-gIo72L_WIkQOcpJZjl2T6CNnanIITfFljHYs3_VRKaw5wJqIqk_07HjyO1VrAuskAZMtB2y7-5WNMox_Au_PWJrAaLzMFErP5kpen5Jvb2EI3mQX1V3S2iEDoax8AdiEtX_LngImCrgHN0GOmq_YjFPhPYZEDPk-BkGucRcFhIv14BplJ3QeQ9NX5lTCnbwuCSzHeS84XeyvzTSuBfCr3RDDiO0OnzxGZRqkEmYIinBQA9HhDsieLQOji5htV3h1wNuitcsDZkM1H8GDcRAwzG27SG4MWilMVRpVTMyOr3vC7MTy0N9QK0-nRk0PJGz1EKX2W8wT4Bx9L7LXy87cntsgJWJf9c5t39vCm9px1OdOKlNRLuOm9uNDwYzS7fMpWhhlza7DJ5AhpaIpezoKq7dDefyylQKJYmg9_wDCZplAN5M4MU5mNsUSMaZwzMCgkzw5EeIQtqxkR0LDArdEVzsBOj151pXkug365KzAIG4jD8RBiW4jIqy160KR8uL3UWsk9_C-w48nxhKwAaApEderiuh5DorhZCYELUDpoEC8h-Qz0ZVAcjB-2iuQE9UI5Lli-4v9BJBigv84k3p44q1x9VBVWpHylXpzevNaviTFIo2oFnymbvshsDWCPQnRKRq-k7EOZNf0nkSAFTvVDMDdnQ.Ffv5RhbqHou9tT1Kx_6gpg"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 87,
            "applicants" : [ {
              "id" : 43,
              "first_name" : "Erling Konopelski IV",
              "middle_name" : "k",
              "last_name" : "Ariane Ernser",
              "other_names" : [ ],
              "highest_education_level" : {
                "value" : "Some High School",
                "id" : 2
              },
              "ethnicity" : {
                "value" : "Black",
                "id" : 4
              },
              "driver_license_number" : "ABC123",
              "driver_license_state" : {
                "value" : "Alaska",
                "id" : "AK"
              },
              "email" : "test@test.com",
              "employment" : {
                "employer_name" : "Employer Name",
                "occupation" : "Front End Developer",
                "income" : 10.0,
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 Gateway",
                  "city" : "Sacremento",
                  "zip" : "94403"
                }
              },
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "2012222345",
                "preferred" : false
              } ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 83,
            "residence" : {
              "addresses" : [ ],
              "physical_mailing_similar" : false,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "body of water goes here",
              "others_using_residence_as_mailing" : true,
              "directions_to_home" : "directions goes here",
              "home_languages" : [ {
                "value" : "Arabic",
                "id" : 2
              } ]
            },
            "applicants" : [ {
              "id" : 42,
              "first_name" : "Tara Romaguera",
              "middle_name" : "k",
              "last_name" : "Deshawn Bruen",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "employment" : {
                "employer_name" : "",
                "occupation" : "",
       [...]
