---
http_interactions:
- request:
    method: get
    uri: https://cals-api.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..TZaQAwXh7CTnebLm.Y5f1oV97IBKvCe3gBcLxlZ2-RS3BfVCHE8-z48kuTZwkWW3D36cbm4HjtXjaO6v7E6AvFXAFKpTiOiIskoqxyiTIqhInXxrbZqwFwa2nOMlQPX3gBd8lxjUtClIdN8Rs9VMWnHGbU2PTWEncLUvTTqCRwxlfHY3VPWX9idBA30gc_bJ4rS9mWzDoiL_1jQ_VHavR1sXOEbwoz1yiMSZPZ6CL-JIgABjWt6cHlhxXJRCBt2yRJYeYA2h_974To54V42Q4D32rtK8MSlqJVWuFNEoLJGPeJKOS7EVK5ipl5F4BLK3taZsr-TkUvkBYvgrctaapyz18KfcyMcq_heO7E6VTrO0VKFfNxUDSQu8H8U1O0nUO14DfkJkcHhV3IWKoO9loBubOgG1tc9Quwg4z26r5UcziZ5XxAlPNQd_u__gquG1pxThfcTngb5KFWZw36lY8j-WBg53cg1JVeZauIQlBAxqTbR-0y0bhEt8I29kVz1qX5bGRDtn9H1GXg2j88Y7ek00OKAheFmyAUcjC7Hx2NWREY15li3KbAh50algu0DVsP8ENIm68s3P8QS5c9q7IqJvJ6kJr2Cffv8bSlmwaQ1Ngx9GZFmYiLp0QN9FtR9BoA_Z93bLOpXfWmC4jLfR776APi91rxKg72HtD9HZ8sVtX7pCCZbgE-22TQxi1_GUlK_s9Mo_JFkeWGoPcGCjbJei3TmqL-EUYwCJh_CikClpAm5Qeb1-6PNwNE5-VioYQ-b53up-7ZUS9Z51Ne2UMqUwCGTk2IkJfbKSf1qKwtfHYq8uPsNNULvBb1bx1EXJG9zm2Ld7mu3rvyf7AOLi06gNt9AdwBPtgP5DcDeLy4PxSzxApJ59mCLJukmypkSpfxqABsvyXPK42tFyk_Y9t72irXjmpBeBA-4DZ-VUDahU702pZ-BqLM3crr2MWvlYXgFdjNXlDhx8KoZKzubHxKpxeNWaqhH0XmAsrMTSvCdhZHb3dD6wf9W7dYzq4wUDje4zd4_amN_qvzOYUiaVmEfhjVDv1ArmW43xrbOsbwt5k7ZHKjw1fBpQRi4b6ZsKOMgdBSb8cIzHr6Rr0Y-vQ7Q.nvuuGfsS-WQ3kytpxA4HOQ"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 47,
            "applicants" : [ {
              "id" : 42,
              "first_name" : "Raquel Schamberger",
              "middle_name" : "k",
              "last_name" : "Alize MacGyver",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ {
              "id" : 2,
              "relationship_to_applicants" : [ {
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ],
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "child_financially_supported" : true,
              "child_adopted" : true
            } ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 46,
            "residence" : {
              "addresses" : [ ],
              "physical_mailing_similar" : false,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "body of water goes here",
              "others_using_residence_as_mailing" : true,
              "directions_to_home" : "directions goes here",
              "home_languages" : [ {
                "value" : "Arabic",
                "id" : 2
              } ]
            },
            "applicants" : [ {
              "id" : 41,
              "first_name" : "Janick Zemlak V",
              "middle_name" : "k",
              "last_name" : "Aaron Schneider",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "employment" : {
                "employer_name" : "",
                "occupation" : "",
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "maing address here",
                  "city" : "secondary city",
                  "zip" : "12345"
                }
              },
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 44,
            "applicants" : [ {
              "id" : 40,
              "first_name" : "Harley Ledner",
              "middle_name" : "k",
              "last_name" : "Kane Wiza",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "adoption_history" : {
              "foster_care_licenses_q1" : {
                "was_previously_licensed" : false,
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "applications_for_adoption_q2" : {
                "facilities" : [ "" ]
              },
              "facility_operation_licenses_q3" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "employment_in_facilities_q4" : {
                "facilities" : [ "" ]
              },
              "denial_history_q5" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "suspension_revocation_history_q6" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              }
            },
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 43,
            "applicants" : [ {
              "id" : 39,
              "first_name" : "Sam",
              "middle_name" : "k",
              "last_name" : "Miss Dayne Jerde",
              "other_names" : [ ],
              "driver[...]
