---
http_interactions:
- request:
    method: post
    uri: https://calsapi.preint02.cwds.io/rfa-1a-forms/1/rfa-1b-forms/applicants/1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - b81994cc-75cd-4ab0-ba2c-97fbe937bb9c
  response:
    status:
      code: 302
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id": 2,
          "convicted_in_california_disclosures": [],
          "convicted_in_another_state_disclosures": [],
          "arrested_for_crime_disclosures": []
        }
  recorded_at: Mon, 15 Jan 2018 21:21:47 GMT
- request:
    method: post
    uri: https://calsapi.preint02.cwds.io/rfa-1a-forms/1/rfa-1b-forms/applicants/1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - b81994cc-75cd-4ab0-ba2c-97fbe937bb9c
  response:
    status:
      code: 302
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id": 2,
          "convicted_in_california_disclosures": [],
          "convicted_in_another_state_disclosures": [],
          "arrested_for_crime_disclosures": []
        }
  recorded_at: Mon, 15 Jan 2018 21:21:47 GMT
recorded_with: VCR 3.0.3
