---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint02.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 66,
            "applicants" : [ {
              "id" : 51,
              "first_name" : "Sam",
              "middle_name" : "k",
              "last_name" : "Lewis Hansen",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 65,
            "applicants_relationship" : {
              "relationship_type" : {
                "value" : "Married",
                "id" : 1
              },
              "place_of_relationship_city" : "",
              "place_of_relationship_state" : {
                "value" : "Alaska",
                "id" : "AK"
              }
            },
            "applicants" : [ {
              "id" : 49,
              "first_name" : "Orrin Metz",
              "middle_name" : "k",
              "last_name" : "Brycen Wintheiser",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            }, {
              "id" : 50,
              "first_name" : "",
              "middle_name" : "",
              "last_name" : "",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 64,
            "residence" : {
              "addresses" : [ ],
              "physical_mailing_similar" : true,
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "",
              "others_using_residence_as_mailing" : true,
              "directions_to_home" : "directions goes here",
              "home_languages" : [ {
                "value" : "American Sign Language",
                "id" : 1
              }, {
                "value" : "Armenian",
                "id" : 3
              } ]
            },
            "applicants" : [ {
              "id" : 48,
              "first_name" : "Warren Hahn",
              "middle_name" : "k",
              "last_name" : "Grady Kuphal",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "employment" : {
                "employer_name" : "",
                "occupation" : "",
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 something elsemaing address here",
                  "city" : "secondary city",
                  "zip" : "12345"
                }
              },
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 62,
            "applicants" : [ {
              "id" : 47,
              "first_name" : "Leanna Goodwin III",
              "middle_name" : "k",
              "last_name" : "Lois Green",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ {
              "id" : 1,
              "first_name" : "Myah Willms DVM",
              "relationship_to_applicants" : [ {
                "applicant_id" : 47,
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ]
            } ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 60,
            "applicants" : [ {
              "id" : 46,
              "first_name" : "Herman Collier",
              "middle_name" : "k",
              "last_name" : "Alf Runte IV",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "adoption_history" : {
              "foster_care_licenses_q1" : {
                "was_previously_licensed" : true,
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "applications_for_adoption_q2" : {
                "facilities" : [ "" ]
              },
              "facility_operation_licenses_q3" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "employment_in_facilities_q4" : {
                "facilities" : [ "" ]
              },
              "denial_history_q5" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "suspension_revocation_history_q6" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              }
            },
            "is_initial_application" : false
          }, {
            "id" : 59,
            "applicants" : [ {
              "id" : 45,
              "first_name" : "Roxanne Volkman MD",
              "middle_name" : "k",
              "last_name" : "Constance Stamm",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ {
              "id" : 2,
              "relationship_to_applicants" : [ {
                "applicant_id" : 45,
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ],
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "child_financially_supported" : true,
              "child_adopted" : true
            } ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 58,
            "applicants" : [ {
              "id" : 44,
              "first_name" : "Joseph",
              "middle_name" : "k",
              "last_name" : "Zboncak",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ],
              "rfa1b_form" : {
                "id" : 3,
                "resource_family_name" : "test",
                "ssn" : "123-45-6789",
                "driver_license" : "D123",
                "driver_license_state" : {
                  "value" : "Alaska",
                  "id" : "AK"
                },
                "convicted_in_california_disclosures" : [ ],
                "convicted_in_another_state_disclosures" : [ ],
                "arrested_for_crime_disclosures" : [ ]
              }
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 54,
            "applicants" : [ {
              "id" : 43,
              "first_name" : "Sam",
              "middle_name" : "k",
              "last_name" : "Eleanore Wyman",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : [...]
- request:
    method: post
    uri: https://calsapi.preint02.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 67,
          "minor_children" : [ ],
          "is_initial_application" : false
        }
  recorded_at: Fri, 12 Jan 2018 23:45:10 GMT
- request:
    method: get
    uri: https://calsapi.preint02.cwds.io/rfa-packet/67/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "rfa1a_sections" : [ {
            "section" : "applicants",
            "filled" : false
          }, {
            "section" : "residence",
            "filled" : false
          }, {
            "section" : "applicants-relationship",
            "filled" : false
          }, {
            "section" : "minor-children",
            "filled" : false
          }, {
            "section" : "other-adults",
            "filled" : false
          }, {
            "section" : "applicants-history",
            "filled" : false
          }, {
            "section" : "child-desired",
            "filled" : false
          }, {
            "section" : "adoption-history",
            "filled" : false
          }, {
            "section" : "references",
            "filled" : false
          }, {
            "section" : "applicants-declaration",
            "filled" : false
          } ],
          "applicants" : [ ],
          "other_adults" : [ ],
          "adult_children" : [ ]
        }
  recorded_at: Fri, 12 Jan 2018 23:45:10 GMT
- request:
    method: get
    uri: https://calsapi.preint02.cwds.io/rfa-1a-forms/67?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 67,
          "applicants" : [ ],
          "minor_children" : [ ],
          "other_adults" : [ ],
          "rfa1c_forms" : [ ],
          "is_initial_application" : false
        }
  recorded_at: Fri, 12 Jan 2018 23:45:10 GMT
- request:
    method: get
    uri: https://calsapi.preint02.cwds.io/rfa-1a-forms/67/rfa-1c-forms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 873cdde5-61fb-4e55-abfd-169671be268b
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/67/rfa-1c-forms. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Fri, 12 Jan 2018 23:45:10 GMT
recorded_with: VCR 3.0.3
